.home-carousel-container{
    padding-top: 96px;
    display: flex;
    justify-content: center;
}

.home-banner-container img{
    width: 80vw;
    height: 40vw;
    object-fit: cover;
}

.home-carousel-buttons-block{
    display: flex;
    justify-content: center;
    margin: .5rem auto;
}

.home-carousel-btn{
    height: 1rem;
    width: 1rem;
    margin: .25rem .5rem;
    padding: .2rem;
    display: inline-block;
    border-radius: 50%;
}

.home-carousel-btn:not(active){
    background: var(--white);
}

.home-carousel-buttons-block span{
    cursor: pointer;
}

#home-active-btn{
    background: var(--login-dark-red);
}