.banner{
    height: 22rem;
}

.banner img{
    z-index: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    padding-top: 96px;
}

@media only screen and (max-width: 767px){
    .banner{
        height: 50vw;
    }
    
    .banner img{
        position: static;
        padding-top: 66px;
    }
}