.container{
    z-index: 0;
    position: relative;
}

.container::before{
    background: linear-gradient(var(--dark-red), #000000);
    content:"";
    width: 100%;
    height: 63%;
    position: absolute;
    top: 37.2%; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

.one{
    display: grid;
    grid-template-columns: 20fr 80fr;
    row-gap: 5rem;
    padding: 2.5rem 8%;
    justify-content: space-between;
    height: 100%;
}

.one h3{
    font-size: 2.5rem;
    text-shadow: 0 .3vw 0 #000000;
    padding: .5rem 1rem;
    color: var(--white);
}

/* Poster */
.poster-container{
    margin: auto;
}

.poster img{
    z-index: 1;
    width: 15vw;
    box-shadow: 15px 15px 40px black;
}

/* Title */
.title-container{
    display: flex;
}

.title-container h2{
    color: var(--white);
    font-size: 3.5rem;
    text-shadow: 0 6px 6px #000000;
    margin: 1rem 0;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    width: 100%;
}

.title-bottom{
    display: flex;
    gap: 1.7rem;
}

.title-bottom img{
    width: 4rem;
    height: 4rem;
    margin-top: .5rem;
}

.title-bottom .border-text{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    border: 4px solid var(--white);
    vertical-align: middle;
    border-radius: 10px;
    padding: .8rem 2rem;
    margin-top: .5rem; 
}

/* Details */
.details{
    padding: .5vw 1vw;
    color: var(--white);
}

.about{
    width: 100%;
    padding: .5vw .2vw;
    display: flex;
    gap: .5vw;
}

.about span{
    font-size: 1.2rem;
    padding: .5vw;
}

.about img{
    filter: invert(99%) sepia(0%) saturate(5239%) hue-rotate(306deg) brightness(116%) contrast(80%);
    width: 3rem;
}

.synopsis{
    padding: 0.5rem 1rem;
    margin-bottom: 4rem;
    height: 300px;
}

.text{
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--white);
}

@media only screen and (max-width: 1440px){
    .one{
        gap: 0;
    }
}

@media only screen and (max-width: 767px){
    .container{
        position: static;
    }
    
    .title-container h2{
        font-size: 2rem;
    }
    
    .one{
        display: flex;
        flex-direction: column;
    }

    .one h3{
        font-size: 1.5rem;
    }

    .details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
    }

    .title,
    .details{
        padding: 0;
    }

    .text{
        font-size: 1rem;
    }  

    .about span{
        font-size: .8rem;
    }

    .title-bottom{
        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
    }

    .title-bottom img{
        width: 3.5rem;
        height: 3.5rem;
    }

    .title-bottom .border-text{
        font-size: 1rem;
        padding: .8rem 2.5vw;
    }

    .title-bottom .border-text,
    .title-bottom img{
        display: flex;
        align-items: center;
        margin: 0;
    }

    .synopsis{
        height: auto;
    }

    .poster img{
        width: 30vw;
    }
}