footer{
    color: var(--white);
}

footer a{
    color: var(--white);
    text-decoration: none;
}

footer a:hover{
    color: var(--login-dark-red);
    transform: scale(0.98);
}

footer .register-notification{
    color: var(--white);
    display: flex;
    justify-content: center;
    background: var(--dark-red);
}

footer .register-notification h3{
    font-size: 1.5rem;
    margin: auto .5rem;
    padding: .5rem;
}

footer .register-notification button{
    cursor: pointer;
    background: transparent;
    font-size: 1.5rem;
    margin: 2rem .5rem;
    padding: .5rem 3rem;
    border: 2px solid var(--white);
    border-radius: 40px;
    color: var(--white);
    transition: all 0.2s;
}

footer .register-notification button:hover{
    transform: scale(0.98);
}

.footer-container{
    background: var(--dark-gray);
}

.footer-container hr{
    margin: auto;
    width: 80%;
}

/* Social Medias - 1st row */
.social-medias{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: .8rem;
}

.social-medias img{
    filter: invert(99%) sepia(0%) saturate(5239%) hue-rotate(306deg) brightness(116%) contrast(80%);
    width: 3rem;
    height: 3rem;
}

.social-media-block{
    display: flex;
    padding: .5rem;
}

.social-media-span{
    margin: auto;
}

.social-media-span span{
    display: flex;
    padding: .1rem .5rem;
}

/* About us - 2nd row */
.about-us-cols{
    padding: .5rem 1.5rem;
}

.about-us{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.about-us ul{
    font-size: .8rem;
    padding: 1rem 0;
    color: var(--light-gray);
}

.about-us li{
    list-style-type: none;
    font-size: .7rem;
    padding: .3rem 0;
}

/* Logo - 3rd row */
.logo-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.logo-container span,
.logo-container a{
    font-size: 1rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3{
    font-family: 'cinemark';
    padding: .1rem .5rem;
    font-size: 1.25rem;
    letter-spacing: .3rem;
}

.logo p{
    color: var(--light-gray);
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
    font-size: .5rem;
}

@media only screen and (max-width: 1024px){
    .social-media-span{
        display: none;
    }

    .social-media-block{
        margin: auto;
    }
}

@media only screen and (max-width: 1023px){
    .logo-container span,
    .logo-container a{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 767px){
    .logo-container span,
    .logo-container a{
        font-size: .5rem;
    }
    
    footer .register-notification h3{
        font-size: 1.2rem;
    }
    
    footer .register-notification button{
        font-size: 1rem;
        margin: .5rem;
        padding: .5rem 1.5rem;
    }

    .about-us{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .social-media-block img{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media only screen and (max-width: 425px){
    footer .register-notification h3{
        font-size: .7rem;
    }
    
    footer .register-notification button{
        font-size: .7rem;
        margin: .5rem;
        padding: .5rem 1rem;
    }
    
    .logo-container{
        display: grid;
    }
}